{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h3>New Building</h3>
<form action="" method="post">
    {{ f.as_p }}
    {% csrf_token %}
    <button type="submit">Save</button>
</form>
{% endblock %}