{% extends "base.html" %}
{% block title %}New Property{% endblock %}
{% load static %}
{% block content %}


<form method="post" action="">
Select Building: {{ b }} <br>
#This line to appear only after someone searches <br>
If you cannot find your building, click here to <a href="{% url "add_building" %}"> add details</a> <br>

{{f.as_p }}
{% csrf_token %}
<div class="panel-footer">
<button class="btn" type="submit">Save</button>
</div>
</form>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ f.media }}
{% endblock %}